<h2>Strona główna</h2>
<p>
Ta strona służy testom ui-router. Poniżej znajdziesz pierwsze przykłady.
</p>
<p>
  <button type="button" class="btn btn-danger" ui-sref=".superheros">Superbohaterowie</button>
  <button type="button" class="btn btn-default" ui-sref=".voojitsu">Voojitsu!</button>
</p>
<div class="well" ng-controller="HomeCtrl">
  <ui-view />
</div>
